* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/FAQ -text
/INSTALL -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/README.ldap -text
/README.mysql -text
/README.oracle -text
/README.quotas -text
/README.sybase -text
/README.vqmaillocal -text
/RELEASE.NOTES -text
/TODO -text
/UPGRADE -text
/UPGRADE.tren -text
/acconfig.h -text
/aclocal.m4 -text
attic/README.ldap -text
/bigdir.c -text
cdb/Makefile -text
cdb/README -text
cdb/THANKS -text
cdb/VERSION -text
cdb/cdb.h -text
cdb/cdb_hash.c -text
cdb/cdb_seek.c -text
cdb/cdb_unpack.c -text
cdb/cdbmake.h -text
cdb/cdbmake_add.c -text
cdb/cdbmake_hash.c -text
cdb/cdbmake_pack.c -text
cdb/compile -text
cdb/conf-cc -text
cdb/conf-ld -text
cdb/find-systype.sh -text
cdb/load -text
cdb/makelib -text
cdb/trycpp.c -text
cdb/tryulong32.c -text
cdb/uint32.h1 -text
cdb/uint32.h2 -text
cdb/warn-auto.sh -text
/clearopensmtp.c -text
/config.guess -text
/config.h.in -text
/config.sub -text
/configure -text
/configure.in -text
contrib/adduser.mysql -text
contrib/addusers.pl -text
contrib/cdb_clearpass.sh -text
contrib/cistron_radius.README -text
contrib/cistron_radius.tar.gz -text
contrib/popfetch-1.0.tar.gz -text
contrib/qmail-maildir++.patch -text
contrib/sqwebmail_update -text
contrib/vcdir.README -text
contrib/vcdir.c -text
contrib/vdirrestore -text
contrib/vdirrestore.README -text
contrib/vlog-support-0.22.README -text
contrib/vlog-support-0.22.tar.gz -text
contrib/vpassgen -text
contrib/vpassgen.README -text
contrib/vreorg.c -text
convert/Make.vcalias -text
convert/vcalias.README -text
convert/vcalias.c -text
doc/5.0doc -text
doc/doc_html/vpopmail.html -text
doc/doc_html/vpopmail5.abw -text
doc/doc_html/vpopmailapi.png -text
doc/man_html/clearopensmtp.html -text
doc/man_html/index.html -text
doc/man_html/vaddaliasdomain.html -text
doc/man_html/vadddomain.html -text
doc/man_html/vadduser.html -text
doc/man_html/vchkpw.html -text
doc/man_html/vconvert.html -text
doc/man_html/vdeldomain.html -text
doc/man_html/vdelivermail.html -text
doc/man_html/vdeluser.html -text
doc/man_html/vpasswd.html -text
doc/man_html/vpopbull.html -text
doc/man_html/vsetuserquota.html -text
/file_lock.c -text
/file_lock.h -text
/install-sh -text
ldap/qmailUser.schema -text
ldap/slapd.conf -text
/maildirquota.c -text
/maildirquota.h -text
/md5.c -text
/md5.h -text
/missing -text
/mkinstalldirs -text
oracle/oracle.create -text
/quotawarn.msg -text
/stamp-h.in -text
/vaddaliasdomain.c -text
/vadddomain.c -text
/vadduser.c -text
/valias.c -text
/vauth.h -text
/vcdb.c -text
/vcdb.h -text
/vchkpw.c -text
/vconvert.c -text
/vdeldomain.c -text
/vdelivermail.c -text
/vdelivermail.h -text
/vdeloldusers.c -text
/vdeluser.c -text
/vdominfo.c -text
/vipmap.c -text
/vkill.c -text
/vldap.c -text
/vldap.h -text
/vlog.h -text
/vmkpasswd.c -text
/vmoduser.c -text
/vmysql.c -text
/vmysql.h -text
/voracle.h -text
/voracle.pc -text
/vpalias.c -text
/vpasswd.c -text
/vpgsql.c -text
/vpgsql.h -text
/vpopbull.c -text
/vpopmail.c -text
/vpopmail.config.sh -text
/vpopmail.h -text
/vqmaillocal.c -text
/vsetuserquota.c -text
/vsybase.c -text
/vsybase.h -text
/vuserinfo.c -text
