* text=auto !eol
CVSROOT/checkoutlist -text
CVSROOT/commitinfo -text
CVSROOT/config -text
CVSROOT/cvswrappers -text
CVSROOT/editinfo -text
CVSROOT/loginfo -text
CVSROOT/modules -text
CVSROOT/notify -text
CVSROOT/rcsinfo -text
CVSROOT/taginfo -text
CVSROOT/verifymsg -text
vpopmail/AUTHORS -text
vpopmail/COPYING -text
vpopmail/ChangeLog -text
vpopmail/FAQ -text
vpopmail/INSTALL -text
vpopmail/Makefile.am -text
vpopmail/Makefile.in -text
vpopmail/README -text
vpopmail/README.activedirectory -text
vpopmail/README.filelocking -text
vpopmail/README.ipaliasdomains -text
vpopmail/README.ldap -text
vpopmail/README.mysql -text
vpopmail/README.oracle -text
vpopmail/README.pgsql -text
vpopmail/README.quotas -text
vpopmail/README.roamingusers -text
vpopmail/README.sybase -text
vpopmail/README.vlimits -text
vpopmail/README.vqmaillocal -text
vpopmail/UPGRADE -text
vpopmail/aclocal.m4 -text
vpopmail/bigdir.c -text
vpopmail/cdb/Makefile -text
vpopmail/cdb/README -text
vpopmail/cdb/THANKS -text
vpopmail/cdb/VERSION -text
vpopmail/cdb/cdb.h -text
vpopmail/cdb/cdb_hash.c -text
vpopmail/cdb/cdb_seek.c -text
vpopmail/cdb/cdb_unpack.c -text
vpopmail/cdb/cdbmake.h -text
vpopmail/cdb/cdbmake_add.c -text
vpopmail/cdb/cdbmake_hash.c -text
vpopmail/cdb/cdbmake_pack.c -text
vpopmail/cdb/compile -text
vpopmail/cdb/conf-cc -text
vpopmail/cdb/conf-ld -text
vpopmail/cdb/find-systype.sh -text
vpopmail/cdb/load -text
vpopmail/cdb/makelib -text
vpopmail/cdb/trycpp.c -text
vpopmail/cdb/tryulong32.c -text
vpopmail/cdb/uint32.h1 -text
vpopmail/cdb/uint32.h2 -text
vpopmail/cdb/warn-auto.sh -text
vpopmail/clearopensmtp.c -text
vpopmail/config.guess -text
vpopmail/config.h.in -text
vpopmail/config.sub -text
vpopmail/configure -text
vpopmail/configure.in -text
vpopmail/contrib/adduser.mysql -text
vpopmail/contrib/addusers.pl -text
vpopmail/contrib/cdb_clearpass.sh -text
vpopmail/contrib/cistron_radius.README -text
vpopmail/contrib/cistron_radius.tar.gz -text svneol=unset#unset
vpopmail/contrib/popfetch-1.0.tar.gz -text svneol=unset#unset
vpopmail/contrib/qmail-maildir++.patch -text
vpopmail/contrib/sendmail2vpopmail.pl -text
vpopmail/contrib/sqwebmail_update -text
vpopmail/contrib/vcdir.README -text
vpopmail/contrib/vcdir.c -text
vpopmail/contrib/vdirrestore -text
vpopmail/contrib/vdirrestore.README -text
vpopmail/contrib/vlog-support-0.22.README -text
vpopmail/contrib/vlog-support-0.22.tar.gz -text svneol=unset#unset
vpopmail/contrib/vpassgen -text
vpopmail/contrib/vpassgen.README -text
vpopmail/contrib/vreorg.c -text
vpopmail/convert/Make.vcalias -text
vpopmail/convert/vcalias.README -text
vpopmail/convert/vcalias.c -text
vpopmail/doc/5.0doc -text
vpopmail/doc/doc_html/vpopmail.html -text
vpopmail/doc/doc_html/vpopmail5.abw -text
vpopmail/doc/doc_html/vpopmailapi.png -text svneol=unset#unset
vpopmail/doc/man_html/clearopensmtp.html -text
vpopmail/doc/man_html/index.html -text
vpopmail/doc/man_html/vaddaliasdomain.html -text
vpopmail/doc/man_html/vadddomain.html -text
vpopmail/doc/man_html/vadduser.html -text
vpopmail/doc/man_html/vchkpw.html -text
vpopmail/doc/man_html/vconvert.html -text
vpopmail/doc/man_html/vdeldomain.html -text
vpopmail/doc/man_html/vdelivermail.html -text
vpopmail/doc/man_html/vdeluser.html -text
vpopmail/doc/man_html/vpasswd.html -text
vpopmail/doc/man_html/vpopbull.html -text
vpopmail/doc/man_html/vsetuserquota.html -text
vpopmail/file_lock.c -text
vpopmail/file_lock.h -text
vpopmail/global.h -text
vpopmail/hmac_md5.c -text
vpopmail/hmac_md5.h -text
vpopmail/install-sh -text
vpopmail/ldap/qmailUser.schema -text
vpopmail/ldap/slapd.conf -text
vpopmail/ldap/vpopmail.ldif -text
vpopmail/ltmain.sh -text
vpopmail/maildirquota.c -text
vpopmail/maildirquota.h -text
vpopmail/md5.c -text
vpopmail/md5.h -text
vpopmail/missing -text
vpopmail/mkinstalldirs -text
vpopmail/oracle/oracle.create -text
vpopmail/quotawarn.msg -text
vpopmail/seek.c -text
vpopmail/seek.h -text
vpopmail/stamp-h.in -text
vpopmail/vactivedir.c -text
vpopmail/vactivedir.h -text
vpopmail/vaddaliasdomain.c -text
vpopmail/vadddomain.c -text
vpopmail/vadduser.c -text
vpopmail/valias.c -text
vpopmail/vauth.h -text
vpopmail/vcdb.c -text
vpopmail/vcdb.h -text
vpopmail/vchangepw.c -text
vpopmail/vchkpw.c -text
vpopmail/vconvert.c -text
vpopmail/vdeldomain.c -text
vpopmail/vdelivermail.c -text
vpopmail/vdelivermail.h -text
vpopmail/vdeloldusers.c -text
vpopmail/vdeluser.c -text
vpopmail/vdominfo.c -text
vpopmail/vipmap.c -text
vpopmail/vkill.c -text
vpopmail/vldap.c -text
vpopmail/vldap.h -text
vpopmail/vlimits.c -text
vpopmail/vlimits.default -text
vpopmail/vlimits.h -text
vpopmail/vlog.h -text
vpopmail/vmkpasswd.c -text
vpopmail/vmoddomlimits.c -text
vpopmail/vmoduser.c -text
vpopmail/vmysql.c -text
vpopmail/vmysql.h -text
vpopmail/voracle.h -text
vpopmail/voracle.pc -text
vpopmail/vpalias.c -text
vpopmail/vpasswd.c -text
vpopmail/vpgsql.c -text
vpopmail/vpgsql.h -text
vpopmail/vpopbull.c -text
vpopmail/vpopmail.c -text
vpopmail/vpopmail.h -text
vpopmail/vqmaillocal.c -text
vpopmail/vsetuserquota.c -text
vpopmail/vsybase.c -text
vpopmail/vsybase.h -text
vpopmail/vuserinfo.c -text
