* text=auto !eol
CVSROOT/checkoutlist -text
CVSROOT/commitinfo -text
CVSROOT/config -text
CVSROOT/cvswrappers -text
CVSROOT/editinfo -text
CVSROOT/loginfo -text
CVSROOT/modules -text
CVSROOT/notify -text
CVSROOT/rcsinfo -text
CVSROOT/taginfo -text
CVSROOT/verifymsg -text
vpopmail/README -text
vpopmail/README.activedirectory -text
vpopmail/README.build -text
vpopmail/README.debug -text
vpopmail/README.filelocking -text
vpopmail/README.ipaliasdomains -text
vpopmail/README.ldap -text
vpopmail/README.maildrop -text
vpopmail/README.mysql -text
vpopmail/README.onchange -text
vpopmail/README.oracle -text
vpopmail/README.pgsql -text
vpopmail/README.quotas -text
vpopmail/README.roamingusers -text
vpopmail/README.spamassassin -text
vpopmail/README.sybase -text
vpopmail/README.vlimits -text
vpopmail/README.vpopmaild -text
vpopmail/README.vqmaillocal -text
vpopmail/TODO -text
vpopmail/maildrop/maildroprc.v1 -text
vpopmail/maildrop/maildroprc.v2 -text
vpopmail/missing -text
vpopmail/mkinstalldirs -text
vpopmail/oracle/oracle.create -text
